<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div class="card-deck">
        <f:for as="project" each="{projects}">
            <div class="card">
                <f:if condition="{project.avatar}">
                    <img src="{project.avatar}" class="card-img-top" alt="{project.name}">
                </f:if>
                <div class="card-body">
                    <h5 class="card-title">{project.name}</h5>
                    <p class="card-text">{project.description}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{project.website}</small>
                </div>
            </div>
        </f:for>
    </div>
</f:section>

</html>
